name: Deploy Azure VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install PowerShell
      run: |
        sudo apt-get install -y powershell
        pwsh -c "Install-Module -Name Az -Force -Scope CurrentUser"

    - name: Run PowerShell Script
      run: pwsh ./Create-AzVM.ps1



